/* Reset */
*, *::after, *::before { box-sizing: border-box; }



body, h1, h2, h3, p, figure {
    padding: 0;
    margin: 0;
}
html {
    font-size: 15px;
    font-family: 'Bahnschrift';
}

/* Reset de fonts */
h1 {font-size: 2rem;}
h2 {font-size: 1.3rem;}
p {font-size: 1rem;}
a {text-decoration: none; color: #3244ff;}

.light {
    font-weight: 100;
}

.letter-space {
    letter-spacing: 3px;
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
}

header h1
{
    font-family: 'Nova Round', cursive;
    text-align: center;
    color: #0016ff;
    font-weight: 400;
    font-size: 24px;
}

/* Menu Burger */
#menu {
    width: 2rem;
    height: 2rem;
}

.lines {
    width: 100%;
    height: 0.2rem;
    border-radius: 10px;
    background-color: black;
    margin: 6px 0;
}

.short {
    width: 50%;
}

.shorter {
    width: 25%;
}

/* CTA */
#cta {
    background-color: #3244ff;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
}

#cta img
{
    width: 100%;
}

#cta h1{
    color: white;
    font-family: 'Bahnschrift';
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    padding-top: 10px ;
    display: flex;
    font-size: 2rem;
}

.pp {
    color: white;
    font-family: 'Bahnschrift';
    word-spacing: 10%;
    font-weight: lighter;
    opacity: 80%;
    padding-top: 10px;
}

.margin {
    padding: 40px 20px;

}

/* Cursos */
#cursos-container {
    margin: 20px;
    box-shadow: 0px 6px 35px rgba(0,0,0,.2);
    border-radius: 10px;
}

#curso-conteudo {
    padding: 20px;
    text-align: center;
}

.espacado {
    padding: 0.667rem 0;
}

.space {
    padding: 2rem 0 1rem 0;
}

#cursos-container img
{
    width: 100%;
}

.titulo{
    font-family: 'Bahnschrift';
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0px;
}

